PORT=3003

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=tu_password
DB_NAME=ms_soporte

# JWT
JWT_SECRET=tu_secreto_super_seguro
JWT_EXPIRES_IN=15m

NODE_ENV=development
TYPEORM_SYNCHRONIZE=true

# Resend (para respuestas por correo a usuarios no registrados)
RESEND_API_KEY=tu_api_key_de_resend
